<h1>Upload Files</h1>
<div class="form-group">
  <input type="file"
    id="file"
    class="file-upload"
    #fileUpload
    [accept]="requiredFileType"
    multiple
    (change)="onFileSelected($event)"
  />
  <button class="upload-btn"
    (click)="fileUpload.click()"
  >
    Choose File(s)
  </button>
  <div class="progress-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">File Name</th>
          <th scope="col">Upload Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of fileModelList">
          <td>{{ item.file.name }}</td>
          <td>
            <ng-container *ngIf="item.progressCount > 0">
              <progress id="progress" [value]="item.progressCount" max="100"></progress>
              <span class="progress">{{ item.progressCount }}%</span>
            </ng-container>
            <ng-container *ngIf="item.isSucess">
              <span class="success-msg">Upload Successful!</span>
            </ng-container>
            <ng-container *ngIf="item.isError">
              <span class="error-msg">{{ item.errorMessage }}</span>
            </ng-container>
          </td>
          <td>
            <button class="cancel-btn" (click)="cancelUpload(item)" [disabled]="!item.isUploading">Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>